@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Made by: Carlos Eduardo Paredes Chirinos <br />
   Reference: 71717998     
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">cae-10@hotmail.com</a><br />
    
</address>